<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <!-- meadco.scriptx -->
    <sectionGroup name="meadco">
      <section name="scriptx" type="MeadCo.ScriptX.ScriptXConfigHandler,MeadCo.ScriptXConfigHandler"/>
    </sectionGroup>
   
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <!-- meadco.scriptx --><add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms"
          tagPrefix="webopt"/>
      <add assembly="MeadCo.ScriptXClientServerControl" namespace="MeadCo.ScriptXClient" tagPrefix="MeadCoScriptX"/></controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
<meadco>
    <!-- meadco.scriptx configuration --><scriptx>
      <clientinstaller filename="~/content/meadco.scriptx/installers/smsx.cab" version="7.6.0.10" installhelper="~/MeadCo.ScriptX/InstallFailed.aspx"/>     
    <!--<license guid="[YOUR_LICENSEGUID_HERE]" revision="[YOUR_REVISION_HERE]" filename="~/content/meadco.scriptx/installers/sxlic.mlf" />--></scriptx>
  </meadco><system.webServer>
    <staticContent>
      <!-- meadco.scriptx -->    
      <!-- <mimeMap fileExtension=".cab" mimeType="application/octet-stream" /> -->
    <!-- meadco.scriptx --><!-- <mimeMap fileExtension=".mlf" mimeType="application/octet-stream" /> --></staticContent>
  </system.webServer></configuration>